/* Basic Reset */
body, h1, h2, p, ul, li, nav, section, header, footer {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Serif Pro', serif;
    line-height: 1.6;
    background-color: #f9ece3;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: stretch;
}



header, footer {
    background: #333;
    color: #fff;
    padding: 20px;
    width: 100%;
    text-align: center;
}

nav {
    margin: 20px 0;
    font-size: 1.2em;
}

nav a {
    color: #333;
    padding: 8px 16px;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover, nav a:focus {
    color: #555;
    background-color: transparent;
}

section {
    /* background: #ffffff; */
    padding: 40px;
    margin: 20px;
    border-radius: 8px;
    /* box-shadow: 0 4px 6px rgba(0,0,0,0.1); */
    width: 80%;
    max-width: 960px;
}

.section-content {
    width: 100%; /* Use the full section width for content */
}

footer {
    margin-top: auto;
    width: 100%;
}

.project {
    display: flex;
    flex-direction: row; /* Ensures side-by-side arrangement */
    align-items: center; /* Align items at the start of the flex container */
    margin-bottom: 10px; /* Increased space between projects */
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;

    /* border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); */
}

.project-image {
    width: 400px;
    height: auto;
    margin-right: 20px;
    overflow: hidden;
    object-fit: relative;
}

.project-text {
    width: 60%;
    flex-grow: 1; /* Allows the text section to fill any remaining space */
}

.project-text h3 {
    margin-top: 0;
}

.project p {
    text-align: justify;
}

#partners {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    padding: 20px 0;

}

.slider-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    max-width: 100%; /* Adjust based on the desired visible area */
}

.slider {
    display: flex;
    transition: transform 0.3s ease;
    will-change: transform;
}

.slide {
    flex: 0 0 150px; /* Each slide has a fixed flex-basis of 150px */
    width: 150px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide img {
    width: 100%; /* Images should fit their containers */
    display: block;
}

.slide-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #ddd;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 10;
}

.left-arrow {
    left: 10px;
}

.right-arrow {
    right: 10px;
}

.logo {
    max-width: 100px; /* Set a max-width for each logo */
    margin: 10px; /* Add some space around each logo */
    height: auto; /* Maintain aspect ratio */
    flex-shrink: 0; /* Prevent logos from shrinking */
}
#partners {
    display: flex;
    justify-content: center;
}

#about {
    display: flex;
    justify-content: center;
    text-align: justify;
}

#welcome {
    display: flex;
    text-align: justify; /* justify the text */
}

.grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-item {
    position: relative;
    display: inline-block;
    margin: 5px;
    border-radius: 5px;
    width: 150px; /* set a fixed width */
    height: 150px; /* set a fixed height */
    overflow: hidden; /* hide any part of the image that overflows the container */
    background: white;
}

.grid-item img {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: scale-down; /* scale the image to fit its container */
    transform: scale(0.8); /* set the initial scale to 1 */
    object-position: center; /* center the image */
}


.hover-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.hover-text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: rgb(0, 0, 0);
    text-align: left;
    text-wrap: wrap;
    font-size: 12px;
    visibility: hidden;
    transition: visibility 0.3s;
    /* border-radius: 10px; */
    padding: 10px;
    box-sizing: border-box;
    background-color: rgba(197, 195, 195, 0.9); /* gray translucent background */
}

.grid-row {
    margin: 0px;
    padding: 0px;
    /* This class does nothing */
}

.grid-item:hover .hover-text {
    visibility: visible;
}

.section-content img.profile-image {
    width: 200px; /* adjust as needed */
    height: auto; /* maintain aspect ratio */
    border-radius: 5%; /* round the corners */
    margin-right: 20px; /* space between the image and the text */
}

.zoomed {
    transform: scale(2.5); /* adjust as needed */
    transition: transform 0.5s ease-in-out; /* smooth transition */

}