body {
    font-family: 'Source Serif Pro', serif;
    text-align: center;
    padding: 100px;
    background-color: #f9ece3;
}
h1 {
    color: #333;
}
#countdown {
    font-size: 24px;
    color: #ff4500;
}
